version: '3'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server
    environment:
      - MSSQL_SA_PASSWORD=Cpc33UBI  #user: sa
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    volumes:
      - sqlserver:/var/opt/mssql
    container_name: database_minishop

volumes:
  sqlserver:


# Para utilizar Oracle, basta descomentar as linhas 19-35 (não esqueça de comentar ou apagar a configuração MSSQL - linhas 1-15)
#version: '3'
#services:
#  oracle:
#    image: doctorkirk/oracle-19c
#    mem_limit: 1g
#    cpus: 1
#    environment:
#      - ORACLE_SID=xe
#      - ORACLE_PWD=Cpc33UBI #user: SYSTEM
#    volumes:
#      - oradata:/opt/oracle/oradata
#    ports:
#      - "1521:1521"
#    container_name: db_minishop
#
#volumes:
#  oradata: